# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*
.pytest_cache/
.mypy_cache/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# OS / Editor
.DS_Store
.idea/
.vscode/

# Playwright
playwright-report/
test-results/

# Build
dist/
build/
*.egg-info/
